{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="/static/charting_library.min.js"></script>
    <script type="text/javascript" src="/static/datafeed/udf/datafeed.js"></script>
    
    
    <div id="indicesandstock">
      <div id="indices" class="module">
        <header>
          インデックス
        </header>
        <div id="pse">
          <h3>{{pse.security_alias}}</h3>
          <h4>{{pse.total_volume}} {{pse.last_traded_price}} ({{pse.percentage_change_close}}%)</h4>
          <div id="pse-change" style="display:none;">{{pse.percentage_change_close}}</div>
        </div>
        {% for index in indices %}
        <div class="index stock-column{% if forloop.last %} last-stock{% endif %}">
          <div class="index-name">{{ index.security_alias }}</div>
          <div class="index-price">{{ index.total_volume }}</div>
          <div class="index-move">
            {% if index.indicator == 'U' %}<span class="pos">
            {% elif index.indicator == 'D' %}<span class="neg">
            {% else %}<span class="nomove">{% endif%}
              ({{ index.percentage_change_close }}%)
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="stock-chart" class="module">
        <div class="wrap" style="height:422px">
          <div id="frame" style="overflow:hidden;height:100%;">
              <div id="tv_chart_container" style="height:100%;width:100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="watchlist-movers">
      <div id="watchlist" class="module">
        <header>
          お気に入り
        </header>
        <div class="stock-header">
          <div class="stock-fav">&nbsp;</div>
          <div class="stock-sym">&nbsp;</div>
          <div class="stock-name">会社名</div>
          <div class="stock-price">現在の株価</div>
          <div class="stock-move">前日比</div>
        </div>
        {% for company in client.watchlist.all %}
        <div class="stock-column last-stock">
          <div class="stock-fav">
            <form action="{% url 'client:stock' company.symbol %}" method="post">
              {% csrf_token %}
              <button id="id_add" name="add" class="button btn btn-primary btn-sm"  value="0" type="submit" style="background-color: #aaa; padding: 5px 10px; color: #fff; border-radius: 3px;">-</button>
            </form>
          </div>
          <div class="stock-sym"><a href="http://mft-roi.com/market/{{ company.symbol }}">{{ company.symbol }}</a></div>
          <div class="stock-name"><a href="http://mft-roi.com/market/{{ company.symbol }}">{{ company.company_name }}</a></div>
          <div class="stock-price">{{ company.stockdetail_set.last.last_traded_price|floatformat:2}}{{ company.stockdetail_set.last.highest_price|floatformat:2 }}</div>
          <div class="stock-move">
            {% if company.stockdetail_set.last.indicator == 'U' %}
            <span class="pos">
            {% elif company.stockdetail_set.last.indicator == 'D' %}
            <span class="neg">
            {% else %}
            <span class="nomove">
            {% endif %}
              {{ company.stockdetail_set.last.percentage_change_close|floatformat:2}}%
            </span>
          </div>
        </div>
        {% endfor %}
        <div class="stock-column last-stock">
          <form id="watchlistform" method="post">
            <div class="stock-fav">&nbsp;</div>
            <div class="stock-sym">&nbsp;</div>
            <div class="stock-name">
              <input type="search" placeholder="銘柄検索" size="700" id="stock-search2">
            </div>
            {% csrf_token %}
            <div class="stock-price">
              <button id="id_add" name="add" class="button btn btn-primary btn-sm" value="1" type="submit" style="background-color: #aaa; padding: 5px; color: #fff; border-radius: 3px;">お気に入りに追加<!-- Add to Watchlist --></button>
            </div>
            <div class="stock-move">&nbsp;</div>
          </form>
        </div>
      </div>
      <!--<div id="movers" class="module">
        <header>
          Gainers
        </header>
        <div class="stock-header">
          <div class="stock-sym">Symbol</div>
          <div class="stock-price">Price</div>
          <div class="stock-move">Change</div>
        </div>
        <div class="stock-column">
          <div class="stock-sym">AA</div>
          <div class="stock-price">0,000</div>
          <div class="stock-move">
            <span class="neg">0.00(0.00)</span>
          </div>
        </div>
        <div class="stock-column">
          <div class="stock-sym">AA</div>
          <div class="stock-price">0,000</div>
          <div class="stock-move">
            <span class="neg">0.00(0.00)</span>
          </div>
        </div>
        <div class="stock-column">
          <div class="stock-sym">AA</div>
          <div class="stock-price">0,000</div>
          <div class="stock-move">
            <span class="neg">0.00(0.00)</span>
          </div>
        </div>
        <div class="stock-column">
          <div class="stock-sym">AA</div>
          <div class="stock-price">0,000</div>
          <div class="stock-move">
            <span class="neg">0.00(0.00)</span>
          </div>
        </div>
        <div class="stock-column">
          <div class="stock-sym">AA</div>
          <div class="stock-price">0,000</div>
          <div class="stock-move">
            <span class="neg">0.00(0.00)</span>
          </div>
        </div>
        <div class="stock-column last-stock">
          <div class="stock-sym">AA</div>
          <div class="stock-price">0,000</div>
          <div class="stock-move">
            <span class="neg">0.00(0.00)</span>
          </div>
      </div>
    </div>-->
            <script>
      

    $( function() {

      var psechange = parseFloat($('#pse-change').text());

      if( psechange >= 0) {
        $('#pse').css('background-color','#33b575');
      } else {
        $('#pse').css('background-color','#e9142d');
      }
    
      $('#stock-search2').keyup(function() {
        searchedstock = $('#stock-search2').val();
        var res = searchedstock.split(", ");
        $("#watchlistform").attr("action", "/market/" + res[0] + "/");

      });


      $('#stock-search2').bind("enterKey",function(e){
        searchedstock = $('#stock-search2').val();
        var res = searchedstock.split(", ");
         console.log(searchedstock);
         $("#watchlistform").attr("action", "/market/" + res[0] + "/");

      });
      $('#stock-search2').keyup(function(e){
          if(e.keyCode == 13)
          {
              $(this).trigger("enterKey");
          }
      });


    } );


      var availableTags = [
"I, I-Remit, Inc.",
"T, TKC Metals Corporation",
"V, Vantage Equities, Inc.",
"X, Xurpas Inc.",
"AB, Atok-Big Wedge Co., Inc.",
"AC, Ayala Corporation",
"AP, Aboitiz Power Corporation",
"AR, Abra Mining and Industrial Corporation",
"AT, Atlas Consolidated Mining and Development Corporation",
"BC, Benguet Corporation",
"BH, BHI Holdings, Inc.",
"CA, Concrete Aggregates Corporation",
"DD, Doubledragon Properties Corp.",
"EG, IP E-Game Ventures, Inc.",
"EW, East West Banking Corporation",
"HI, House of Investments, Inc.",
"IS, Island Information & Technology, Inc.",
"LC, Lepanto Consolidated Mining Company",
"LR, Leisure & Resorts World Corporation",
"MA, Manila Mining Corporation",
"MB, Manila Bulletin Publishing Corporation",
"MG, Millennium Global Holdings, Inc.",
"NI, NiHAO Mineral Resources International, Inc.",
"OM, Omico Corporation",
"OV, The Philodrill Corporation",
"PA, Pacifica, Inc.",
"PF, San Miguel Pure Foods Company, Inc.",
"PX, Philex Mining Corporation",
"SM, SM Investments Corporation",
"UW, Uniwide Holdings, Inc.",
"IPO, iPeople, inc.",
"2GO, 2GO Group, Inc.",
"AAA, Asia Amalgamated Holdings Corporation",
"ABA, AbaCore Capital Holdings, Inc.",
"ABC, Allied Banking Corporation",
"ABG, Asiabest Group International Inc.",
"ABS, ABS-CBN Corporation",
"ACE, Acesite (Phils.) Hotel Corporation",
"ACR, Alsons Consolidated Resources, Inc.",
"AEV, Aboitiz Equity Ventures, Inc.",
"AGF, AG Finance, Incorporated",
"AGI, Alliance Global Group, Inc.",
"ALI, Ayala Land, Inc.",
"ALT, Alterra Capital Partners, Inc.",
"ANI, AgriNurture, Inc.",
"ANS, A. Soriano Corporation",
"APC, APC Group, Inc.",
"APO, Anglo Philippine Holdings Corporation",
"APX, Apex Mining Co., Inc.",
"ARA, Araneta Properties, Inc.",
"ATI, Asian Terminals, Inc.",
"ATN, ATN Holdings, Inc.",
"AUB, Asia United Bank Corporation",
"BCB, Benguet Corporation",
"BCP, Benguet Corporation",
"BDO, BDO Unibank, Inc.",
"BEL, Belle Corporation",
"BHI, Boulevard Holdings, Inc.",
"BKR, Bright Kindle Resources & Investments Inc.",
"BMM, Bogo Medellin Milling Company, Inc.",
"BPI, Bank of the Philippine Islands",
"BRN, A Brown Company, Inc.",
"BSC, Basic Energy Corporation",
"CAB, Concrete Aggregates Corporation",
"CAL, Calata Corporation",
"CAT, Central Azucarera de Tarlac, Inc.",
"CDC, Cityland Development Corporation",
"CEB, Cebu Air, Inc.",
"CEI, Crown Equities, Inc.",
"CEU, Centro Escolar University",
"CHI, Cebu Holdings, Incorporated",
"CHP, Cemex Holdings Philippines, Inc.",
"CIC, Concepcion Industrial Corporation",
"CIP, Chemical Industries of the Philippines, Inc.",
"COL, COL Financial Group, Inc.",
"CPG, Century Properties Group, Inc.",
"CPM, Century Peak Metals Holdings Corporation",
"CPV, Cebu Property Ventures and Development Corporation",
"CSB, Citystate Savings Bank, Inc.",
"DIZ, Dizon Copper-Silver Mines, Inc.",
"DMC, DMCI Holdings, Inc.",
"DNL, D&L Industries, Inc.",
"DWC, Discovery World Corporation",
"ECP, EasyCall Communications Philippines, Inc.",
"EDC, Energy Development Corporation",
"EEI, EEI Corporation",
"ELI, Empire East Land Holdings, Inc.",
"EMP, Emperador Inc.",
"FAF, First Abacus Financial Holdings Corporation",
"FDC, Filinvest Development Corporation",
"FEU, Far Eastern University, Incorporated",
"FFI, Filipino Fund, Inc.",
"FJP, F & J Prince Holdings Corporation",
"FLI, Filinvest Land, Inc.",
"FNI, Global Ferronickel Holdings, Inc.",
"FPH, First Philippine Holdings Corporation",
"FPI, Forum Pacific, Inc.",
"FYN, Filsyn Corporation",
"GEO, GEOGRACE Resources Philippines, Inc.",
"GLO, Globe Telecom, Inc.",
"GPH, Grand Plaza Hotel Corporation",
"H2O, Philippine H2O Ventures Corp.",
"HVN, Golden Haven Memorial Park, Inc.",
"ICT, International Container Terminal Services, Inc.",
"IDC, Italpinas Development Corporation",
"IMI, Integrated Micro-Electronics, Inc.",
"IMP, Imperial Resources, Inc.",
"ION, Ionics, Inc.",
"IPM, IPM Holdings, Inc..",
"IRC, IRC Properties, Inc.",
"ISM, ISM Communications Corporation",
"JAS, Jackstones, Inc.",
"JFC, Jollibee Foods Corporation",
"JGS, JG Summit Holdings, Inc.",
"JOH, Jolliville Holdings Corporation",
"KEP, Keppel Philippines Properties, Inc.",
"KPH, Keppel Philippines Holdings, Inc.",
"LBC, LBC Express Holdings, Inc.",
"LCB, Lepanto Consolidated Mining Company",
"LFM, Liberty Flour Mills, Inc.",
"LIB, Liberty Telecoms Holdings, Inc.",
"LMG, LMG Chemicals Corporation",
"LPZ, Lopez Holdings Corporation",
"LRP, Leisure & Resorts World Corporation",
"LRW, Leisure & Resorts World Corporation",
"LSC, Lorenzo Shipping Corporation",
"LTG, LT Group, Inc.",
"MAB, Manila Mining Corporation",
"MAC, MacroAsia Corporation",
"MAH, Metro Alliance Holdings & Equities Corp.",
"MBC, Manila Broadcasting Company",
"MBT, Metropolitan Bank & Trust Company",
"MCP, Melco Crown (Philippines) Resorts Corporation",
"MED, MEDCO Holdings, Inc.",
"MEG, Megaworld Corporation",
"MER, Manila Electric Company",
"MFC, Manulife Financial Corporation",
"MGH, Metro Global Holdings Corporation",
"MHC, Mabuhay Holdings Corporation",
"MJC, Manila Jockey Club, Inc.",
"MPI, Metro Pacific Investments Corporation",
"MRC, MRC Allied, Inc.",
"MVC, Mabuhay Vinyl Corporation",
"MWC, Manila Water Company, Inc.",
"MWP, Megawide Construction Corporation",
"NOW, Now Corporation",
"OPM, Oriental Petroleum and Minerals Corporation",
"ORE, Oriental Peninsula Resources Group, Inc.",
"PAL, PAL Holdings, Inc.",
"PAX, Paxys, Inc.",
"PBB, Philippine Business Bank",
"PBC, Philippine Bank of Communications",
"PCP, PICOP Resources, Inc.",
"PFP, San Miguel Pure Foods Company, Inc.",
"PHA, Premiere Horizon Alliance Corporation",
"PHC, Philcomsat Holdings Corporation",
"PHN, Phinma Corporation",
"PIP, Pepsi-Cola Products Philippines, Inc.",
"PLC, Premium Leisure Corp.",
"PMT, Primetown Property Group, Inc.",
"PNB, Philippine National Bank",
"PNC, Philippine National Construction Corporation",
"PNX, Phoenix Petroleum Philippines, Inc.",
"PPC, Pryce Corporation",
"PRC, Philippine Racing Club, Inc.",
"PSB, Philippine Savings Bank",
"PSE, The Philippine Stock Exchange, Inc.",
"PTC, Philippine Trust Company",
"PTT, Philippine Telegraph and Telephone Corporation",
"PXP, PXP Energy Corporation",
"RCB, Rizal Commercial Banking Corporation",
"RCI, Roxas and Company, Inc.",
"REG, Republic Glass Holdings Corporation",
"RFM, RFM Corporation",
"RLC, Robinsons Land Corporation",
"RLT, Philippine Realty and Holdings Corporation",
"ROX, Roxas Holdings, Inc.",
"RWM, Travellers International Hotel Group, Inc.",
"SBS, SBS Philippines Corporation",
"SCC, Semirara Mining and Power Corporation",
"SFI, Swift Foods, Inc.",
"SGI, Solid Group, Inc.",
"SGP, Synergy Grid & Development Phils., Inc.",
"SLF, Sun Life Financial Inc.",
"SLI, Sta. Lucia Land, Inc.",
"SMC, San Miguel Corporation",
"SOC, SOCResources, Inc.",
"SPC, SPC Power Corporation",
"SPH, Splash Corporation",
"SPM, Seafront Resources Corporation",
"SSI, SSI Group, Inc.",
"STI, STI Education Systems Holdings, Inc.",
"STN, Steniel Manufacturing Corporation",
"STR, Starmalls, Inc.",
"SUN, Suntrust Home Developers, Inc.",
"TEL, PLDT Inc.",
"TFC, PTFC Redevelopment Corporation",
"UBP, Union Bank of the Philippines, Inc.",
"UNI, Unioil Resources & Holdings Company, Inc.",
"UPM, United Paragon Mining Corporation",
"URC, Universal Robina Corporation",
"VLL, Vista Land & Lifescapes, Inc.",
"VMC, Victorias Milling Company, Inc.",
"VUL, Vulcan Industrial & Mining Corporation",
"VVT, Vivant Corporation",
"WEB, PhilWeb Corporation",
"WIN, Wellex Industries, Incorporated",
"WPI, Waterfront Philippines, Incorporated",
"ZHI, Zeus Holdings, Inc.",
"ABSP, ABS-CBN Holdings Corporation",
"ACPA, Ayala Corporation",
"ALCO, Arthaland Corporation",
"ALHI, Anchor Land Holdings, Inc.",
"ATNB, ATN Holdings, Inc.",
"BCOR, Berjaya Philippines Inc.",
"BLFI, BDO Leasing and Finance, Inc.",
"CHIB, China Banking Corporation",
"CNPF, Century Pacific Food, Inc.",
"COAL, Coal Asia Holdings Incorporated",
"CPVB, Cebu Property Ventures and Development Corporation",
"CYBR, Cyber Bay Corporation",
"DDPR, Doubledragon Properties Corp.",
"DFNN, DFNN, Inc.",
"DMCP, DMCI Holdings, Inc.",
"DMPL, Del Monte Pacific Limited",
"EIBA, Export and Industry Bank, Inc.",
"EIBB, Export and Industry Bank, Inc.",
"EURO, Euro-Med Laboratories Phil., Inc.",
"EVER, Ever-Gotesco Resources and Holdings, Inc.",
"FGEN, First Gen Corporation",
"FJPB, F & J Prince Holdings Corporation",
"FOOD, Alliance Select Foods International, Inc.",
"FPHP, First Philippine Holdings Corporation",
"FYNB, Filsyn Corporation",
"GERI, Global-Estate Resorts, Inc.",
"GMA7, GMA Network, Inc.",
"GMAP, GMA Holdings, Inc.",
"GSMI, Ginebra San Miguel, Inc.",
"HLCM, Holcim Philippines, Inc.",
"IMPB, Imperial Resources, Inc.",
"KPHB, Keppel Philippines Holdings, Inc.",
"LAND, City & Land Developers, Incorporated",
"LIHC, Lodestar Investment Holdings Corporation",
"LOTO, Pacific Online Systems Corporation",
"MAHB, Metro Alliance Holdings & Equities Corp.",
"MARC, Marcventures Holdings, Inc.",
"MAXS, Max's Group, Inc.",
"MFIN, Makati Finance Corporation",
"MJIC, MJC Investments Corporation",
"NIKL, Nickel Asia Corporation",
"NRCP, National Reinsurance Corporation of the Philippines",
"OPMB, Oriental Petroleum and Minerals Corporation",
"PCOR, Petron Corporation",
"PERC, PetroEnergy Resources Corporation",
"PFP2, San Miguel Pure Foods Company, Inc.",
"PHEN, PHINMA Energy Corporation",
"PHES, Philippine Estates Corporation",
"PMPC, Panasonic Manufacturing Philippines Corporation",
"PNXP, Phoenix Petroleum Philippines, Inc.",
"POPI, Prime Orion Philippines, Inc.",
"PORT, Globalport 900, Inc.",
"PRIM, Prime Media Holdings, Inc.",
"PRMX, Primex Corporation",
"PSPC, Phoenix Semiconductor Philippines Corp.",
"ROCK, Rockwell Land Corporation",
"RRHI, Robinsons Retail Holdings, Inc.",
"SECB, Security Bank Corporation",
"SEVN, Philippine Seven Corporation",
"SFIP, Swift Foods, Inc.",
"SHNG, Shang Properties, Inc.",
"SMPH, SM Prime Holdings, Inc.",
"SRDC, Supercity Realty Development Corporation",
"TBGI, Transpacific Broadband Group Int`l. Inc.",
"TECH, Cirtek Holdings Philippines Corporation",
"TFHI, Top Frontier Investment Holdings, Inc.",
"TLII, PLDT Inc.",
"TLJJ, PLDT Inc.",
"TUGS, Harbor Star Shipping Services, Inc.",
"VITA, Vitarich Corporation",
"ACPB1, Ayala Corporation",
"ACPB2, Ayala Corporation",
"BLOOM, Bloomberry Resorts Corporation",
"COSCO, Cosco Capital, Inc.",
"CROWN, Crown Asia Chemicals Corporation",
"DAVIN, Da Vinci Capital Holdings, Inc.",
"FGENF, First Gen Corporation",
"FGENG, First Gen Corporation",
"FMETF, First Metro Philippine Equity Exchange Traded Fund, Inc.",
"FPHPC, First Philippine Holdings Corporation",
"GLOPA, Globe Telecom, Inc.",
"GLOPP, Globe Telecom, Inc.",
"GREEN, Greenergy Holdings Incorporated",
"GTCAP, GT Capital Holdings, Inc.",
"HOUSE, 8990 Holdings, Inc.",
"MACAY, Macay Holdings, Inc.",
"MRSGI, Metro Retail Stores Group, Inc.",
"MWIDE, Megawide Construction Corporation",
"NXGEN, NextGenesis Corporation",
"PGOLD, Puregold Price Club, Inc.",
"PNX3A, Phoenix Petroleum Philippines, Inc.",
"PNX3B, Phoenix Petroleum Philippines, Inc.",
"PRF2A, Petron Corporation",
"PRF2B, Petron Corporation",
"SMC2A, San Miguel Corporation",
"SMC2B, San Miguel Corporation",
"SMC2C, San Miguel Corporation",
"SMC2D, San Miguel Corporation",
"SMC2E, San Miguel Corporation",
"SMC2F, San Miguel Corporation",
"SMC2G, San Miguel Corporation",
"SMC2H, San Miguel Corporation",
"SMC2I, San Miguel Corporation",
"SMCP1, San Miguel Corporation",
"SHLPH, Pilipinas Shell Petroleum Corporation (SHLPH)",
"TAPET, Trans-Asia Petroleum Corporation",
"YEHEY, YEHEY! Corporation"

    ];
    $( "#stock-search2" ).autocomplete({
      source: availableTags
    });

      </script>

       <script type="text/javascript">

  

        TradingView.onready(function () {
          widget = new TradingView.widget({
            symbol: 'PSEI',
            interval: 'D',
            container_id: 'tv_chart_container',
            datafeed:datafeed  = new Datafeeds.UDFCompatibleDatafeed('http://104.131.91.186/feed', 10000),
            timezone: 'Asia/Hong_Kong',
            locale: "ja",
            library_path: {% static '' %},
            width: '100%',
            height: '100%',

disabled_features: ["header_fullscreen_button", "header_symbol_search"],
            locale: 'ja',
            {% if request.user.anonymous %}
                      user_id: 'public_user_id',
                  {% else %}
                      charts_storage_url: 'http://139.162.50.63',
                      user_id: '{{ request.user.username }}',
                  {% endif %}
                  

                  width: '100%',
                  height: '100%',

            drawings_access: { type: 'black', tools: [ { name: "Regression Trend" } ] },
          });

          widget.onChartReady(function () {

            //setTimeout(initChart, 0);
            initChart();
          });

          function initChart() {
             widget.createButton()
                .attr('title', "Full Screen")
                .on('click', function (e) { toggleFullScreenTradingViewChart(); })
                .append($('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586.09999 586.09996" width="18" height="14" enable-background="new 0 0 595.3 841.9"><path d="M172.6 367.9l-97.7 97.7L0 390.7v195.4h195.4l-74.9-74.9 97.7-97.7-45.6-45.6zM195.4 0H0v195.4l74.9-74.9 97.7 97.7 45.6-45.6-97.7-97.7L195.4 0zm195.3 0l74.9 74.9-97.7 97.7 45.6 45.6 97.7-97.7 74.9 74.9V0H390.7zm22.8 367.9l-45.6 45.6 97.7 97.7-74.9 74.9h195.4V390.7l-74.9 74.9-97.7-97.7z"></path><svg>'));
          };

           function toggleFullScreenTradingViewChart() {
            $('#tv_chart_container').toggleFullScreen();
          };

           function d(c){var b,a;if(!this.length)return this;b=this[0];b.ownerDocument?a=b.ownerDocument:(a=b,b=a.documentElement);if(null==c){if(!a.exitFullscreen&&!a.webkitExitFullscreen&&!a.webkitCancelFullScreen&&!a.msExitFullscreen&&!a.mozCancelFullScreen)return null;c=!!a.fullscreenElement||!!a.msFullscreenElement||!!a.webkitIsFullScreen||!!a.mozFullScreen;return!c?c:a.fullscreenElement||a.webkitFullscreenElement||a.webkitCurrentFullScreenElement||a.msFullscreenElement||a.mozFullScreenElement||c}c?(c=
b.requestFullscreen||b.webkitRequestFullscreen||b.webkitRequestFullScreen||b.msRequestFullscreen||b.mozRequestFullScreen)&&c.call(b):(c=a.exitFullscreen||a.webkitExitFullscreen||a.webkitCancelFullScreen||a.msExitFullscreen||a.mozCancelFullScreen)&&c.call(a);return this}jQuery.fn.fullScreen=d;jQuery.fn.toggleFullScreen=function(){return d.call(this,!d.call(this))};var e,f,g;e=document;
e.webkitCancelFullScreen?(f="webkitfullscreenchange",g="webkitfullscreenerror"):e.msExitFullscreen?(f="MSFullscreenChange",g="MSFullscreenError"):e.mozCancelFullScreen?(f="mozfullscreenchange",g="mozfullscreenerror"):(f="fullscreenchange",g="fullscreenerror");jQuery(document).bind(f,function(){jQuery(document).trigger(new jQuery.Event("fullscreenchange"))});jQuery(document).bind(g,function(){jQuery(document).trigger(new jQuery.Event("fullscreenerror"))});
        });




    </script>


{% endblock %}